<header class="page-header">
  <a class="logo" href="{{ site.baseurl }}/">J</a>

  <!-- <div> -->
    <!-- {% for my_page in site.pages %} -->
      <!-- {% if my_page.title %} -->
      <!-- <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>-->
      <!-- {% endif %} -->
    <!-- {% endfor %} -->
  <!-- </div> -->
  <a href="/">About</a>
  <a href="/portfolio/">Portfolio</a>
  <a href="/blog/">Blog</a>
  <a href="/contact/">Contact</a>

  <a href="#">Email</a>
  <a href="#">Github</a>
  <a href="#">Twitter</a>
</header>
