<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="default-content">
      {{ content }}
    </div>

    {% include footer.html %}

  <script src="{{ "/assets/local/polyfills.js" | prepend: site.baseurl }}" charset="utf-8"></script>
  <script src="{{ "/assets/local/vendor.js" | prepend: site.baseurl }}" charset="utf-8"></script>
  <script src="{{ "/assets/local/main.js" | prepend: site.baseurl }}" charset="utf-8"></script>
  </body>

</html>
